aside{
    width: 482px;
}

#aside-header{
    h3{
        font: var(--label-large);
        color: var(--content-primary);
    }

    p{
        font: var(--paragraph-large);
        color: var(--content-secondary); text-transform: none;
    }
}

legend{
    all: unset; 
    font: var(--label-s);
    color: #C7C9CC;
    text-align: center;
}

.fieldset{
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 40px;
}

fieldset{
    border: none;

    input{
       all: unset; 
       width: 100px;
       height: 70px;
       background-color: var(--background-secondary);
       border-radius: 8px;

       font: var(--display-small);
       color: #FFFFFF;
       text-align: center;    
    }
}

.toogle{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin-top: 20px;

    span{
        color: var(--content-primary);
        font: var(--paragraph-small); text-transform: none;
    }

    display: none;
}

button{
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-block: 14px ;
    border-radius: 8px;

    margin-top: 40px;
    width: 100%;
    background-color: var(--background-tertiary);
    color: #FFFFFF;
    font: var(--label-small);
}

#result-container{
    text-align: center;

    div{
        margin-bottom: 10px;
    }
    .result{
        color: var(--content-brand);
        font: var(--display-medium);
    }

    p{
        color: var(--content-secondary);
        font: var(--overline);
    }

    h3{
        color: var(--content-primary);
        font: var(--label-large);
    }

   display: none;
}

#retry-button{
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding-block: 14px ;
    border-radius: 8px;

    margin-top: 40px;
    width: 100%;
    background-color: var(--background-tertiary);
    color: #FFFFFF;
    font: var(--label-small);
    display: none;
}