aside{
    width: 482px;
}

#aside-header{
    h3{
        font: var(--label-large);
        color: var(--content-primary);
    }

    p{
        font: var(--paragraph-large);
        color: var(--content-secondary); text-transform: none;
    }
}

legend{
    all: unset; 
    font: var(--label-s);
    color: #C7C9CC;
    text-align: center;
}

.fieldset{
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 40px;
}

fieldset{
    border: none;

    input{
       all: unset; 
       width: 100px;
       height: 70px;
       background-color: var(--background-secondary);
       border-radius: 8px;

       font: var(--display-small);
       color: #FFFFFF;
       text-align: center;    
    }
}

.toogle{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    
    span{
        color: var(--content-primary);
        font: var(--paragraph-small); text-transform: none;
    }
}