*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --content-primary: #FFFFFF;
    --content-secondary: #C7C9CC;
    --content-tertiary: #D9D9D9;
    --content-brand: #C58DE7;
    --color-inverse: #030203;

    /* Background */
    --background-primary: #020202;
    --background-secondary: #111012;
    --background-tertiary: #24222E;
    --background-brand: #C58DE7;
    --background-gray: #3D3D3D;

    /* Accent */
    --accent-pink: #D586E0;
    --accent-blue: #91A1FA;
    --accent-green: #77C0AF;
    --accent-lime: #D1DC97;
    --accent-red: #E9A9B3;

    /* Gradient */
    --gradient-border: #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%;
    --gradient-background: #D586E0 0%, #91A1FA 98.93%;
    --gradient-content: #C7C9CC 0%, #3D3D3D 100%;

    /* Font */
    --font-family-sora: "Sora", sans-serif;

    --display-large: 800 72px/130% var(--font-family-sora); text-transform: uppercase;
    --display-medium: 800 40px/130% var(--font-family-sora); text-transform: uppercase;
    --display-small: 700 32px/130% var(--font-family-sora); text-transform: uppercase;

    --font-family-mono: "Roboto Mono", monospace;

    --overline: 700 16px/150% var(--font-family-mono); text-transform: uppercase;

    --font-family-flex: "Roboto Flex", sans-serif;

    --paragraph-large: 500 16px/150% var(--font-family-flex);
    --paragraph-medium: 500 14px/150% var(--font-family-flex);
    --paragraph-small: 500 12px/150% var(--font-family-flex);
    --label-large: 700 20px/150% var(--font-family-flex);
    --label-medium: 700 26px/150% var(--font-family-flex);
    --label-small: 700 16px/150% var(--font-family-flex);
    --label-s: 700 20px/150% var(--font-family-flex);
}

body{
    background-color: var(--background-primary);
    background-image: url(/assets/Shapes.png);
    padding: 74px 120px;

    display: flex;
    flex-direction: row;
    gap: 108px;
    align-items: center;
}

